@page
@model FurnitureShop.Pages.Admin.Furniture.UpdateModel
@{
    ViewData["Title"] = "ADMIN";
}

<h1>Обновить данные</h1>
<hr />
@{
    if (Model.Message != null)
    {
        <p style="color:@(Model.IsWarningMessage ? "red" : "green");"> @Model.Message </p>
        <hr />
    }
}
<form method="post" asp-page="Update" asp-page-handler="Update" style="background-color: #f6f6f6; padding:30px;">
    <h3>Общее:</h3>
    <hr />
    Артикул: <input type="text" asp-for="Furniture.VendorCode" class="form-control" /><br />
    Название: <input type="text" asp-for="Furniture.Name" class="form-control" /><br />
    Цена: <input type="text" asp-for="Furniture.Price" class="form-control" /><br />
    Количество: <input type="number" asp-for="Furniture.Quantity" class="form-control" /><br />
    Категория: <select asp-for="Furniture.CategoryID" style="width: 100%;">
        @foreach (var item in Model.CategoryRepository.Items)
        {
            <option value="@item.ID">@item.Name</option>
        }
    </select><br /><br />
    Производитель: <select asp-for="Furniture.ManufacturerID" style="width: 100%;">
        @foreach (var item in Model.ManufacturerRepository.Items)
        {
            <option value="@item.ID">@item.Name</option>
        }
    </select><br /><br />
    Коллекция: <select asp-for="Furniture.CollectionID" style="width: 100%;">
        @foreach (var item in Model.CollectionRepository.Items)
        {
            <option value="@item.ID">@item.Name</option>
        }
    </select><br /><br />
    Изображение: <input type="text" asp-for="Furniture.Image" class="form-control" /><br />
    <div style="text-align:center">
        <a asp-page="Index" class="btn btn-secondary">Назад</a>
        <input type="submit" value="Сохранить" class="btn btn-primary" style="width: 50%;" />
    </div>
</form>
<hr />

<h3>Скидка:</h3>
<hr />
<form method="post" asp-page="Update" asp-page-handler="SetSale">
    <input type="hidden" name="vendor" value="@Model.Furniture.VendorCode" />
    @{
        if (Model.Furniture.IsOnSale)
        {
            <p style="display:inline-block">Установить скидку? </p>
            @Html.CheckBox("enabled", true)
            <p>Цена со скидкой: </p> <input type="number" name="price" value="@((int)Model.Furniture.Price)" />
        }
        else
        {
            <p style="display:inline-block">Установить скидку? </p>
            @Html.CheckBox("enabled", false)
            <br />
            <p>Цена со скидкой: </p> <input type="number" name="price" value="@((int)Model.Furniture.Price)" />
        }
    }

    <div style="text-align:center">
        <a asp-page="Index" class="btn btn-secondary">Назад</a>
        <input type="submit" value="Сохранить" class="btn btn-primary" style="width: 50%;" />
    </div>
</form>
<hr />

<div style="background-color: #f6f6f6; padding:30px;">
    <h3>Цвета: </h3>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Цвет</th>
                <th scope="col">Добавить / Удалить</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var color in Model.ColorRepository.Items)
            {
                <tr>
                    <th scope="row">@color.ID</th>
                    <td>@color.Name</td>
                    <td><div style="width:50px;height:50px; background-color:rgb(@color.RGB);"></div></td>
                    <td>
                        <form method="post" asp-page="Update">
                            <input type="hidden" name="vendor" value="@Model.Furniture.VendorCode" />
                            <input type="hidden" name="colorId" value="@color.ID" />
                            @if (Model.Furniture.Colors.Contains(color))
                            {
                                <input type="submit" asp-page-handler="DeleteColor" value="удалить" class="btn btn-danger" />
                            }
                            else
                            {
                                <input type="submit" asp-page-handler="AddColor" value="Добавить" class="btn btn-primary" />
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="./Colors" class="btn btn-info" style="width: 100%;">Создать новые цвета!</a>
    <hr />
</div>
<hr />

<h3>Материалы:</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Текстура</th>
            <th scope="col">Добавить / Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model.MaterialRepository.Items)
        {
            <tr>
                <th scope="row">@material.ID</th>
                <td>@material.Name</td>
                <td><div style="width:50px;height:50px; background-color:grey;"></div></td>
                <td>
                    <form method="post" asp-page="Update">
                        <input type="hidden" name="vendor" value="@Model.Furniture.VendorCode" />
                        <input type="hidden" name="materialId" value="@material.ID" />
                        @if (Model.Furniture.Materials.Contains(material))
                        {
                            <input type="submit" asp-page-handler="DeleteMaterial" value="Удалить" class="btn btn-danger" />
                        }
                        else
                        {
                            <input type="submit" asp-page-handler="AddMaterial" value="Добавить" class="btn btn-primary" />
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="./Materials" class="btn btn-info" style="width: 100%;">Создать новые материалы!</a>
<hr />