@page
@model FurnitureShop.Pages.Admin.Manufacturer.IndexModel
@{
    ViewData["Title"] = "ADMIN";
}

<h1>Производители</h1>
<hr />

@{
    if (Model.Message != null)
    {
        <p style="color:@(Model.IsWarningMessage ? "red" : "green");"> @Model.Message </p>
        <hr />
    }
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Контакты</th>
            <th scope="col">Изображение</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Manufacturers)
        {
        <tr>
            <th scope="row">@item.ID</th>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Contacts</td>
            <td>@item.Image</td>
            <td>
                <form method="post" asp-page="Index" asp-page-handler="Delete">
                    <input type="hidden" name="id" value="@item.ID" />
                    <input type="submit" value="Удалить" class="btn btn-danger" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

<a asp-page="Create" class="btn btn-outline-primary" style="width:100%;">Создать</a>


