@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}


<hr />
<div class="jumbotron" style="margin-bottom: 0;">
    <h1 class="display-4">Добро пожаловать, @(Model.AppUser?.Name ?? "уважаемый покупатель")!</h1>
    <p class="lead">На этой странице Вы можете ознакомится с основными классами продукции сайта или воспользоваться "интелектуальным поиском".</p>
    <hr class="my-4">
    <p>А именно с разнообразными категориями, производителями и коллекцими мебели. Чтобы просмотреть выборку товаров во одному из выше перечисленных признаков, кликните по его названию.</p>
    <a asp-page="Furniture" asp-page-handler="All" class="btn btn-primary btn-lg">Перейти к каталогу!</a>
</div>


<hr id="search" />
<h2>Поиск</h2>
<hr />

<div class="row">
    <div class="col-2"></div>
    <div class="col" style="text-align:center;">
        <form method="get" asp-page="Furniture" autocomplete="off">
            <p>Пожалуйста, введите поисковой запрос: </p>
            <hr />
            <div style="text-align: center;">
                <input type="text" name="query" placeholder="название, категория, производитель, коллекция" class="form-control" autocomplete="off" style="text-align: center;" />
                <input type="submit" class="btn btn-primary" value="Искать" style="margin-top: 15px; width:50%;" />
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>

@{
    if (Model.Recommendations != null && Model.Recommendations.Count != 0)
    {
        <br />
        <hr />
        <div style="animation: lightning 1s ease-in-out infinite alternate;">
            <h2>Возможно Вас также заинтересует... <i style="font-size: 16px;"> (задача автоматизации)</i></h2>
            <hr />
            <div class="row">
                @foreach (var item in Model.Recommendations)
                {
                    <partial name="_Furniture" model="item" />
                }
            </div>
        </div>
    }
}

<hr />
<h2 id="categories">Категории мебели!</h2>
<hr />

<div class="row">
    @foreach (var category in Model.Categories)
    {
        <a class="btn btn-light col-md-4 block" asp-page="Furniture" asp-page-handler="Category" asp-route-categoryId="@category.ID">
            <h2 style="color: darkslateblue">@category.Name</h2>
        </a>
    }
</div>

<br />
<br />
<hr />
<h2>Производители мебели!</h2>
<hr />

<div class="row" id="manufacturers">
    @foreach (var manufacturer in Model.Manufacturers)
    {
        <div class="col-md-4">
            <a asp-page="Furniture" asp-page-handler="Manufacturer" asp-route-manufacturerId="@manufacturer.ID">
                <h2>@manufacturer.Name</h2>
            </a>
            <p>@manufacturer.Description.Substring(0, 70)  ...</p>
        </div>
    }
</div>


<br />
<br />
<hr />
<h2>Коллекции мебели!</h2>
<hr />

<div class="row" id="collections">
    @foreach (var collection in Model.Collections)
    {
        <div class="col-md-4">
            <a asp-page="Furniture" asp-page-handler="Collection" asp-route-collectionId="@collection.ID">
                <h2>@collection.Name</h2>
            </a>
            <p>@collection.Description.Substring(0, 70)  ...</p>
        </div>
    }
</div>

<br />
<br />

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
}